{
  "env": { "browser": true, "node": true, "es6": true },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "import/no-extraneous-dependencies": "off",
    "global-require": "warn"
  }
}
