.top {
  background-color: #f67280;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

.topHomeHeader {
  font-weight: 400;
  font-size: 26px;
}

.topHomeParagraph {
  margin: 15px auto;
  font-size: 16px;
  width: 155px;
}

.topHomeSessionCount {
  font-size: 72px;
}

.topFocusBreakHeader {
  margin-top: 20px;
  font-weight: 400;
  font-size: 26px;
}

.topFocusBreakSessionCount {
  margin-top: 40px;
  font-size: 72px;
}
